<div class="row">
    <div class="span6">
        <h3 style="position: relative; left:0%;" class="offset1">Notifications</h3>

        <div id="id1" class="offset2 notif-trigger" style="position: relative; left: -6%;">
            <input notif-trigger="notify-when-mention" type="checkbox" class="switchBtnLabelOn yesno staus-true" />
            <span class="channel-label"><b>Mentions</b></span>
            <span class="channel-label clearfix" style="position: relative; left: 18%;"><i>Notify me when someone @ mentions my name</i></span>
        </div>
        <div id="id2" class="offset2 notif-trigger" style="position: relative; left: -6%;">
            <input notif-trigger="notify-even-not-distrub" type="checkbox" class="switchBtnLabelOn yesno staus-true" />
            <span class="channel-label"><b>Do Not Distrub Notifications</b></span>
            <span class="channel-label clearfix" style="position: relative; left: 18%;"><i>Notify me even when my status is Do Not Disturb</i></span>
        </div>
    </div>
    <div class="span6">
        <h4 style="position: relative; left:-17%;" class="offset2">Notify me by</h4>

        <div class="offset2 notif-manner" style="position: relative; left: -6%;">
            <input notif-type="desktop" type="checkbox" class="switchBtnLabelOn yesno staus-true" />
            <span class="channel-label"><b>Desktop</b></span>
            <span class="channel-label clearfix" style="position: relative; left: 18%;"><i>Display a toast notification on your desktop</i></span>
        </div>
        <div class="offset2 notif-manner" style="position: relative; left: -6%;">
            <input notif-type="on-site" type="checkbox" class="switchBtnLabelOn yesno staus-true" />
            <span class="channel-label"><b>On-site</b></span>
            <span class="channel-label clearfix" style="position: relative; left: 18%;"><i>Display a badge over the chat icon in the top bar</i></span>
        </div>
        <div class="offset2 notif-manner" style="position: relative; left: -6%;">
            <input notif-type="bip" type="checkbox" class="switchBtnLabelOn yesno staus-true" />
            <span class="channel-label"><b>Bips</b></span>
            <span class="channel-label clearfix" style="position: relative; left: 18%;"><i>Play a sound each time I receive a new message</i></span>
        </div>
    </div>
</div>
<div class="row offset3">
    <div class="span6">
        <div class="offset2">
            <button id="close-global-notif-config" class="btn btn-default">Close </button>
        </div>
    </div>
</div>