<div class="row">
    <div class="span12 offset1 chat-room-config">
        <label>
            <input type="radio" room-notif-trigger="normal"  class="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> <span class="label-head"> Normal</span>
        </label>
        <span class="label-text">I want to receive notifications for this room</span>
        <label>
            <input type="radio" room-notif-trigger="silence"  class="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span class="label-head"> Silence</span>
        </label> <span class="label-text">I don't want to receive notifications for this room</span>
        <label>
            <input type="radio" room-notif-trigger="when-key-word"  class="radio" name="optionsRadios" id="optionsRadios2" value="option2"><span class="label-head"> Alert On : </span>
        </label> 
        <input id="room-notif-trigger-when-key-word-value" type="text" placeholder="lunch,break,coffee,party.." class="radio-input-text" namme="keyWord"><br/><span class="label-text">Notify me when someone uses one of these keywords</span><br/><br/>
    </div>
</div>
<div class="row offset3">
    <div class="span6">
        <div class="offset2">
            <button id="close-room-notif-config" class="btn btn-default">Close </button>
        </div>
    </div>
</div>
