/* PLF */
#PlatformAdminToolbarContainer {
  display: none;
}

/* PLF */

.modal-mask {
  .flex-center;
  justify-content: center;
  &, &.uiPopupWrapper {
    position: fixed
  }
  .chat-modal {
    width: 600px;
  } 
}

.favorite {
  cursor: pointer;
  &:before {
    content: "\e97f";
    color: #FAD86E;
    visibility: hidden;
  }
  &.is-fav:before {
    content: "\e97d";
    visibility: visible;
  }
  &:hover:before {
    visibility: visible;
  }
}

#chatPreferences .chatPreferences {
  .chatPreferences {
    width: 700px;
  }
  section {
    margin-left: 10px;
  }
  section + section {
    margin-top: 35px;
  }
}
.chat-user-settings {
  display: inline;
  margin-left: 10px;
  .uiIconGear {
    color: #fff;
  }
}

.uiLeftContainerArea .uiIconArrowDownMini:before {
  color: #fff;
}
.uiIconArrowDownMini:before {
  padding: 2px 5px;
}

.notification-item {
  display: flex;
  padding-left: 60px;
  .uiSwitchBtn {
    flex-shrink: 0;
    margin: 3px 15px 0 0;
  }
  .notification-description > * {
    display: block;
  }
}

/* suggester */
.selectize-dropdown {
  .option {
    display: flex;
  }
  .user-name {
    flex: 1;
    margin: 0 10px;
  }
  .user-status {
    .square(20px);
  }
}
/* suggester */

.uiIconVerticalDots:before { // TODO move to PLF
  content: "\e79c";
}
.uiIconSearchLight:before {
  content: "\eaf0";
}
.uiIconCloseLight:before {
  content: "\e937";
}
.uiIconSend:before {
  content: "\e97b";
}
.uiIconChatCreateEvent:before {
  content: "\e92a";
}
.uiIconChatRaiseHand:before {
  content: "\e952";
}
.uiIconChatLink:before {
  content: "\e61b";
}
.uiIconChatCreateTask:before {
  content: "\e614";
}
.uiIconChatUpload:before {
  content: "\e78d";
}
.uiIconChatQuestion:before {
  content: "\e76b";
}
.uiIconGear:before {
  content: "\e9fa";
}

.chat-message-not-sent {
	color:#999999;
}