/* chat-contact component */
.chat-contact {
  display: inline-flex;
  align-items: center;
}
.chat-contact .contactDetail {
  margin-left: 10px;
}
.user-available .user-status, .user-available .uiIconStatus{
  color: #46a546;
}
.user-invisible .user-status, .user-invisible .uiIconStatus{
  color: #999999;
}
.chat-contact .uiIconStatus {
  font-size: 10px;
}
.chat-contact .user-status {
  font-variant: small-caps;
  margin-top: -5px;
}
/* chat-contact component */