.chat-message-list {
  &::-webkit-scrollbar {
    width: @scrollSize;
  }
  &::-webkit-scrollbar-track {
    background: @scrollDefaultTrackColor;
  }
  &::-webkit-scrollbar-thumb {
    background: @scrollDefaultThumbColor;
    border-radius: @scrollThumbRaduis;
  }
}

.chat-message-day {
  .flex-column;
  .day-separator {
    height: 30px;
    padding: 0 60px;
    .flex-center;
    justify-content: space-around;
    text-align: center;
    span {
      flex: 0 0 250px;
    }
    &:before, &:after {
      content: "";
      flex: 1;
      border-top: @defaultBorder;
    }
    + .chat-message-box {
      margin-top: 0;
    }
  }
}

.chat-message-box {
  display: flex;
  margin-top: 20px;
  .chat-sender-avatar, .chat-message-action {
    flex: 0 0 60px;
  }
  .sender-name {
    font-weight: bold;
  }
  .chat-message-action {
    .flex-center;
    justify-content: center;
    text-align: right;
    position: relative;
    .message-actions {
      position: absolute;
      top: -6px;
      right: 0;
      text-align: left;
      &:not(.open) {
        display: none;
      }
    }
  }
  &:last-child {
    margin-bottom: 20px;
  }
  &:hover {
    .message-actions:not(.open) {
      display: block;
    }
  }
  .chat-message-bubble {
    flex: 1;
    background: #f0f8fe;
    border: @defaultBorder;
    border-radius: 2px; 
    padding: 12px 7px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -7px;
      .square(10px);
      transform: rotate(45deg);
      background-color: inherit;
      border-left: inherit;
      border-bottom: inherit;
    }
    .attachmentContainer {
      background: none;
      padding: 0;
    }
    blockquote {
      margin: 10px;
      .quote-user-name {
        display: block;
        font-style: italic;
        font-weight: bold;
      }
    }
    .search-highlight {
      background: #FF0;
    }
  }
  .chat-contact-avatar {
    .square(35px);
  }
  &.is-same-contact {
    margin-top: 3px;
    .chat-message-bubble:before {
      display: none;
    }
  }
  &.is-current-user {
    justify-content: flex-end;
    padding-left: 50px;
    .responsive(@tablet,{
      padding-left: 0;
    });
    .chat-message-bubble {
      background: #cfe9ff;
      border: none;
      width: 0;
      margin-right: 8px;
      .overflow-wrap;
      &:before {
        left: auto;
        right: -5px;
        top: calc(~"50%" - 5px);
      }
    }
  }
  .message-description {
    position: absolute;
    right: 3px;
    bottom: 0;
    [class^="uiIcon"] {
      font-size: 15px;
      color: #999;
    }
  }
  .uiIconNotification {
    top: -2px;
  }
}
.custom-message-item {
  margin-top: 5px;
  > span, [class^="uiIcon"] {
    color: #999;
  }
  [class^="uiIcon"] {
    font-size: 16px;
    margin-right: 10px;
  }
}
.message-file-size {
  margin-left: 10px;
  color: #999;
}
.send-meeting-notes {
  display: inline;
}
#editMessageComposerArea {
    width: 100%;
}
.uiIconChatAssign:before {
  content: "\e6c6";
}
.uiIconChatClock:before {
  content: "\e742";
}
.uiIconChatCheckin:before {
  content: "\e782";
}
.uiIconChatSendEmail:before {
  content: "\e777";
}
.uiIconChatWiki:before {
  content: "\e695";
}

.uiIconChatEdit:before {
  content: "\e9e4";
}