/* contact list component */
.contactListContainer {
  .flex-column;
  .contactFilter, .listHeader {
    .flex-center;
    flex-shrink: 0;
  }
  .contactFilter {
    height: 36px;
    background: #355788;
    padding: 0 20px;
    input {
      font-size: 13px;
      background: none;
      border: none;
      box-shadow: none;
      height: 100%;
      width: 100%;
      margin: 0;
      .placeholder({
        color: #7a90b1;
      });
    }
    input, i {
      color: #fff;
    }
  }
  .listHeader {
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    border-bottom: 2px solid #7f97ba;
  }
  .contactList {
    padding: 10px 0;
    overflow-y: auto;
  }
  .chat-contact {
    margin-right: auto;
  }
  .add-room-action {
    .square(20px);
    text-align: center;
    .uiIconSimplePlus {
      color: #fff;
      font-size: 12px;
    }
  }
  .chat-contact, .listHeader > * {
    cursor: pointer;
  }

  .add-room-form {
    color: @bodyTextColor;
    .flex-column;
    > input {
      width: auto;
    }
    .room-suggest-list {
      height: 30px;
      max-height: 100px;
      border: @bigBorder;
      border-top: none;
      padding: 12px 10px;
      margin-top: -8px;
      .uiMention {
        margin: 0 15px 15px 0;
      }
    }
  }
}

.contact-list-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  &.selected {
    background: #578DC9;
  }
  &:hover .favorite:before {
    visibility: visible;
  }
  .favorite {
    position: static;
    cursor: pointer;
  }
  .unreadMessages, .favorite {
    .square(20px);
    margin-left: 10px;
  }
  .unreadMessages {
    background: #578DC9;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
}
/* contact list component */