/* contact list component */
.contactListContainer {
  .listHeader {
    display: flex;
    height: 50px;
    padding: 0 20px;
    border-bottom: 2px solid #7f97ba;
  }
  .contactList {
    padding: 10px 0;
  }
  .chat-contact {
    margin-right: auto;
    cursor: pointer;
  }
}

.contact-list-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  &.selected {
    background: #578DC9;
  }
  &:hover .favorite:before {
    visibility: visible;
  }
  .favorite {
    position: static;
    cursor: pointer;
  }
  .unreadMessages, .favorite {
    .square(20px);
    margin-left: 10px;
  }
  .unreadMessages {
    background: #578DC9;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
  }
}
/* contact list component */