/* list participants area */
.room-users-collapse-btn {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: @defaultBorder;
  text-align: center;
  display: none;
}
.room-participants:hover .room-users-collapse-btn {
  display: initial;
}
.room-participants-header {
  .flex-center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
  border-bottom: @defaultBorder;
  padding: 0 20px;
}
.room-participants-list {
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.room-users-collapse-btn .uiIcon{
  top: 2px;
  color: #ced2d5;
  &:before{
    content: "\e903"
  }
}
.room-participants-title {
  margin-right: auto;
  font-weight: bold;
  text-transform: uppercase;
}
.room-participants-filter .actionIcon {
  border: 1px solid #e1e8ee;
   .uiIconChatMember {
    top: 2px;
    &.all-participants {
      color: #4d5466;
    }
  }
}
.uiIconChatMember:before {
  content: "\eac1";
}
.collapsed {
  .room-participants-list {
    align-items: center;
    .chat-contact .contactLabel {
      display: none;
    }
  }
  .room-users-collapse-btn .uiIcon:before{
    content: "\e901"
  }
}
/* list participants area */