target/*
*.iml
.DS_Store
server/target/*
application/target/*
chat-mongohq.properties
application/src/main/resources/rebel.xml
config/target/*
extension/target/*
exo-addons-chat-extension/target/*
exo-addons-chat-extension-config/target/*
exo-addons-chat-extension-pkg/target/*


release.properties
*.releaseBackup

data/chat-single-local.properties

copie.sh
