//@notifBackgroundColor:        #C00;
@notifBackgroundColor:        #4f72ac;
@notifColor:                  white;
@backgroundColor:             white;
@borderColor:                 #DBDBDB;
@shadowColor:                 #E3E3E3;
@hoverColor:                  #4f72ac;
@statusColor:                 #444;
@iconStatusPath:              "/chat/img/";

#chat-status {
  color: @statusColor;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 15px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
}

#chat-status:hover {
  background-color: @backgroundColor;
  border: 1px solid @borderColor;
  border-bottom: none;
  -moz-box-shadow: 1px 0 0 @shadowColor;
  -webkit-box-shadow: 1px 0 0 @shadowColor;
  box-shadow: 1px 0 0 @shadowColor;
  color: @hoverColor;
  position: relative;
  z-index: 2;
}

.notif-total {
  background-color: @notifBackgroundColor;
  color: @notifColor;
  font-size: 11px;
  font-weight: normal;
  padding: 3px 6px;
  line-height: 16px;
  left: 14px;
  position: relative;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.chat-status, .popup-chat {
  color: @statusColor;
  font-weight: bold;
  padding: 0 2px;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 17px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  text-align: left;
  /*padding-left: 25px !important;*/
}

.chaticonFn (@image:'chat.png') {
  background:url('@{iconStatusPath}@{image}') no-repeat 3px 4px;
}

.chat-icon {
  .chaticonFn();
  height: 22px;
}
.chat-status-available-black {
  .chaticonFn('status-available-black.png');
}
.chat-status-available {
  .chaticonFn('status-available.png');
}
.chat-status-donotdisturb-black {
  .chaticonFn('status-donotdisturb-black.png');
}
.chat-status-donotdisturb {
  .chaticonFn('status-donotdisturb.png');
}
.chat-status-away-black {
  .chaticonFn('status-away-black.png');
}
.chat-status-away {
  .chaticonFn('status-away.png');
}
.chat-status-invisible-black {
  .chaticonFn('status-invisible-black.png');
}
.chat-status-invisible {
  .chaticonFn('status-invisible.png');
}
.chat-status-offline-black {
  .chaticonFn('status-offline-black.png');
}

.uiChatIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  .background("chat.png");
}

.uiChatIcon:hover {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  .background("chat-blue.png");
}

.platform-blue {
  background-color: #4f72ac;
}