@notifBackgroundColor:        #C00;
@notifColor:                  white;
@backgroundColor:             white;
@borderColor:                 #DBDBDB;
@shadowColor:                 #E3E3E3;
@hoverColor:                  #4283C7;
@statusColor:                 #444;
@iconStatusPath:              "/chat/img/";

#chatstatus {
  color: @statusColor;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 15px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
}

#chatstatus:hover {
  background-color: @backgroundColor;
  border: 1px solid @borderColor;
  border-bottom: none;
  -moz-box-shadow: 1px 0 0 @shadowColor;
  -webkit-box-shadow: 1px 0 0 @shadowColor;
  box-shadow: 1px 0 0 @shadowColor;
  color: @hoverColor;
  position: relative;
  z-index: 2;
}

.notiftotal {
  background-color: @notifBackgroundColor;
  color: @notifColor;
  font-size: 9px;
  font-weight: normal;
  padding: 1px 3px;
  line-height: 16px;
  left: 14px;
  position: relative;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.chatstatus, .popupchat {
  color: @statusColor;
  font-weight: bold;
  padding: 0 2px;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 17px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  text-align: left;
  /*padding-left: 25px !important;*/
}

.chaticonFn (@image:'chat.png') {
  background:url('@{iconStatusPath}@{image}') no-repeat 3px 4px;
}

.chaticon {
  .chaticonFn();
  height: 22px;
}
.chatstatus-available-black {
  .chaticonFn('status-available-black.png');
}
.chatstatus-available {
  .chaticonFn('status-available.png');
}
.chatstatus-donotdisturb-black {
  .chaticonFn('status-donotdisturb-black.png');
}
.chatstatus-donotdisturb {
  .chaticonFn('status-donotdisturb.png');
}
.chatstatus-away-black {
  .chaticonFn('status-away-black.png');
}
.chatstatus-away {
  .chaticonFn('status-away.png');
}
.chatstatus-invisible-black {
  .chaticonFn('status-invisible-black.png');
}
.chatstatus-invisible {
  .chaticonFn('status-invisible.png');
}
.chatstatus-offline-black {
  .chaticonFn('status-offline-black.png');
}
