@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  .background(@left, @top) {
    background: url('@{imgPath}2x/general.png') no-repeat @left @top;
    background-size: 96px 162px;
  }
  .weemo(@left, @top) {
    background: url('@{imgPath}2x/weemo-status.png') no-repeat @left @top;
    background-size: 16px 16px;
    width: 8px;
    height: 8px;
  }

  .chat-icon {
    .background(-80px, -16px);
    height: 22px;
  }
  .chat-status-available-black {
    .background(0, -49px);
  }
  .chat-status-available {
    .background(0, -32px);
  }
  .chat-status-donotdisturb-black {
    .background(-34px, -49px);
  }
  .chat-status-donotdisturb {
    .background(-34px, -32px);
  }
  .chat-status-away-black {
    .background(-17px, -49px);
  }
  .chat-status-away {
    .background(-17px, -32px);
  }
  .chat-status-invisible-black {
    .background(-51px, -49px);
  }
  .chat-status-invisible {
    .background(-51px, -32px);
  }
  .chat-status-offline-black {
    .background(-68px, -49px);
  }
  .chat-status-open {
    .background(-80px, -16px);
  }

  .dropdown-menu>li>a:hover>[class^="chat-status"] {
    background-image: url('@{imgPath}2x/general-white.png');
  }

  .weemo-status-not-connected {
    .weemo(0, 0);
  }
  .weemo-status-connecting {
    .weemo(-8px, 0);
  }
  .weemo-status-error {
    .weemo(0, -8px);
  }
  .weemo-status-connected {
    .weemo(-8px, -8px);
  }
}

