@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  .background(@left, @top) {
    background: url('@{imgPath}2x/general.png') no-repeat @left @top;
    background-size: 96px 66px;
  }

  .chat-icon {
    .background(-80px, -16px);
    height: 22px;
  }
  .chat-status-available-black {
    .background(0, -49px);
  }
  .chat-status-available {
    .background(0, -32px);
  }
  .chat-status-donotdisturb-black {
    .background(-34px, -49px);
  }
  .chat-status-donotdisturb {
    .background(-34px, -32px);
  }
  .chat-status-away-black {
    .background(-17px, -49px);
  }
  .chat-status-away {
    .background(-17px, -32px);
  }
  .chat-status-invisible-black {
    .background(-51px, -49px);
  }
  .chat-status-invisible {
    .background(-51px, -32px);
  }
  .chat-status-offline-black {
    .background(-68px, -49px);
  }

}

