/* Basic styling */
body {
  font-family: 'HelveticaNeue',Arial,Tahoma,Sans-serif;
  color: #333;
}

/* Webview styling */
/*
webview {
	border: 1px solid rgb(197, 65, 65);
}
*/

.BgContent {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: none repeat scroll 0 0 white;
  display: block;
  padding: 6px;
  position: relative;
/*
  margin-left: 15px;
  margin-right: 15px;
*/
}

.WrapTryOnlinePopup .FormContact {
  margin-bottom: 14px;
  background-color: #3b3b3b;
  color: #fff;
  padding: 23px 20px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.WrapTryOnlinePopup .FormContact, .WrapTryOnlinePopup .FormContact form {
  margin-top: 0;
}

.WrapTryOnlinePopup .TryOnlinePopup {
  width: auto!important;
}

.WrapTryOnlinePopup .FormContact h4 {
  margin-bottom: 3px;
  padding: 0;
  font-weight: normal;
}

.WrapTryOnlinePopup .FormContact h4, .WrapTryOnlinePopup .FormContact p {
  color: #fff;
  font-size: 17px;
  margin: 0 0 15px 0;
  text-align: center;
}

.WrapTryOnlinePopup .FormContact form {
  margin-top: 0;
  text-align: center;
}

.WrapTryOnlinePopup .FormContact .domain {
  padding: 8px 15px 8px;
}
.WrapTryOnlinePopup .FormContact .domain {
  border: 1px solid rgba(0,0,0,0.85);
  background: #fff;
  width: 315px;
  font-size: 16px;
  line-height: 18px;
  padding: 0 15px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(34,44,48,0.4) inset;
  -moz-box-shadow: 1px 1px 2px 0 rgba(34,44,48,0.4) inset;
  box-shadow: 1px 1px 2px 0 rgba(34,44,48,0.4) inset;
  margin-right: 15px;
  margin-bottom: 0;
  vertical-align: top;
  height: 41px;
}

input[type="text"] {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

#UIPortalLoginFormAction {
  display: inline-block;
}

.WrapTryOnlinePopup .BtnLearnMore {
  border-color: #252525;
  font-size: 18px!important;
  height: 41px!important;
  line-height: 18px!important;
  padding: 0 18px 2px!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  background: url("/images/BgBtn.png") repeat-x left top;
  border: solid 1px #224886;
  display: inline-block;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.WrapTryOnlinePopup .joinCommunity {
  position: relative;
  background-color: #e7e7e7;
  padding: 20px 26px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*text-align: center;*/
}

.WrapTryOnlinePopup .joinCommunity .or {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -28px;
  background-color: #fff;
  display: inline-block;
  width: 40px;
  height: 20px;
  padding: 10px 0;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
  -moz-box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
  box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
}

.WrapTryOnlinePopup .joinCommunity h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  font-family: 'HelveticaNeue',Arial,Tahoma,Sans-serif;
  color: #333;
  text-align: center;
}

.WrapTryOnlinePopup .joinCommunity p.des {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.LightBoxContainer .BgContent p {
  margin-top: 4px;
}
.website-hompage p {
  margin: 5px 0;
}

.WrapTryOnlinePopup .joinCommunity .linkCreateAcc {
  font-size: 16px;
  color: #2f5e92;
  margin-left: 120px;
  /*text-align: center;*/
}
.website-hompage a:hover, .website-hompage a {
  text-decoration: none;
}

.WrapTryOnlinePopup .joinCommunity .stepBullet {
  background-color: #2f5e92;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 5px 0;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
  -moz-box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
  box-shadow: 2px 2px 5px 0 rgba(35,44,38,0.23);
  margin-right: 10px;
}

.HeaderTopPlatform {
  background: url("/images/BgHeaderTop.png") repeat left top;
  height: 48px;
  border-top: solid 1px #151515;
  border-bottom: solid 1px #222;
  text-align: center;
  margin-top: 25px;
}

.HeaderTopPlatform img {
  margin-top: 10px;
}

.topSpaceBar {
  height: 34px;
  display: block;
  text-align: right;
  width: 100%;
  position: relative;
  z-index: 200;
}

.topSpaceBar a {
  text-decoration: none;
  color: #FFF;
  margin-right: 30px;
}

#logoutLink {
  display: none;
}

.topSpaceBar a:hover {
  text-decoration: underline;
}

.top-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 32px;
  /*background-color: #7a7c7c;*/
  -webkit-app-region: drag;
  background: url("/images/BgHeaderTop.png") repeat left top;
  /*height: 48px;*/
  /*border-top: solid 1px #151515;*/
  border-bottom: solid 1px #222;
}


.top-titlebar-icon,
.bottom-titlebar-icon {
  position: absolute;
  left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.top-titlebar-text,
.bottom-titlebar-text {
  position: absolute;
  left: 32px;
  width: 80%;
  margin-top: 6px;
  margin-bottom: 6px;
  font-style: Arial;
  font-size: 11pt;
  color: #ffffff;
}

.top-titlebar-close-button,
.bottom-titlebar-close-button {
  position: absolute;
  right: 11px;
  width: 17px;
  height: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-app-region: no-drag;
}

.top-titlebar-divider {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}


/*
.bottom-titlebar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.left-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.right-titlebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 100%;
  background-color: #7a7c7c;
  -webkit-app-region: drag;
}

.left-titlebar-icon {
  position: absolute;
  bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.right-titlebar-icon {
  position: absolute;
  top: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.left-titlebar-text {
  position: absolute;
  bottom: 32px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(-90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 100%;
}

.right-titlebar-text {
  position: absolute;
  top: 0px;
  width: 100px;
  margin-left: 6px;
  margin-right: 6px;
  font-style: Arial;
  font-size: 12pt;
  color: #ffffff;
  -webkit-transform: rotate(90deg) translate(0, 100%);
  -webkit-transform-origin: 0% 200%;
}

.left-titlebar-close-button {
  position: absolute;
  top: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.right-titlebar-close-button {
  position: absolute;
  bottom: 11px;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  margin-right: 6px;
  -webkit-app-region: no-drag;
}

.bottom-titlebar-divider {
  position: absolute;
  left: 0px;
  bottom: 31px;
  width: 100%;
  height: 1px;
  background-color: #2a2c2c;
}

.left-titlebar-divider {
  position: absolute;
  left: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}

.right-titlebar-divider {
  position: absolute;
  right: 31px;
  top: 0px;
  width: 1px;
  height: 100%;
  background-color: #2a2c2c;
}
*/
