// Base CSS
#configButton, #configButtonResp {
  position: relative;
  top: 10px;
  padding: 5px 8px 1px 8px;
}
@headerWidth: 60px;
.wrapper {
  text-align: center;
}
.centered {
  position: absolute;
  left: 50%;
}
//Chat Team Button
.chat-team-button-dropdown {
  margin-top: 15px;
  margin-right: 10px;
  .standard-width {
    width : 180px;
  }
}
.dropdown-menu li>a.auto-wrap {
   padding-right: 23px;
 }
.chat-room-config {
    .span-head {
      position: relative;
      left: 0.5%;
      top: 4px;
    }

    .radio-input-text {
      position: relative;
      top: 5px;
      left: 1%;
      width: 27%;
    }
    .label-head {
      position: relative;
      top: 3px;
      font-weight: bold;
    }
    .label-text {
      position: relative;
      left: 1.5%;
      font-style: italic;
    }
    .slide-radio {
      position: relative; left: -12%;
    }
}

.actionIcon.disabled {
  opacity: 0.65;
  cursor: default;
  &:hover,&:focus,&:active {
	border:1px solid transparent;
	background: none;
	.box-shadow(none);
	cursor: default;
  }
  * {
   cursor: default;
  }
}

.uiBox {
  .title {
    padding: 0;

    .title-text {
      font-weight: bold;
      font-size: 1.11em;
    }
  }
}

// avatar
.msUserAvatar {
  padding-left: 12px;
  padding-right: 15px;
  text-align: center;

  .msAvatarLink {
    @widthOfAvatar: 32px;

    .square(@widthOfAvatar);
    display: block;

    img {
      max-height: @widthOfAvatar;
      max-width: @widthOfAvatar;
      margin: 0;
      padding: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      .border-radius(100px);
      display: block;
    }
  }
}

.uiRightContainerArea {
  float: none;
  overflow: auto;
  padding: 15px 0 0;
}

.uiGlobalRoomsContainer.hideContent {
    left: 100%;
    right: auto;
}
.uiRoomUsersContainerArea {
  display: none;
  float: right;
  padding: 15px 0 0 15px;
  width: 300px;

  #room-users-collapse-bar {
    float: left;
    position: absolute;
    margin-left: -10px;
    cursor: pointer;

    .uiIconArrowDefault:before {
      content: "\e75c";
    }
  }

  &.room-users-collapsed {
    width: 70px;

    .uiBox {
      #room-users-header {
        #room-users-title {
          display: none;
        }

        #room-users-button {
          padding-right: 17px;
        }
      }

      #room-users-list {
        .msUserAvatar {
          padding: 0;
          width: 100%;

          .msAvatarLink {
            margin: 0 auto;
          }
        }

        .room-user-name, .room-user-status {
          display: none;
        }
      }
    }
  }

  .uiBox {
    #room-users-header {
      height: @headerWidth;
      line-height: @headerWidth;
      padding: 0;
      .box-shadow(none);

      #room-users-title {
        padding-left: 20px;
        font-weight: bold;
        font-size: 1.11em;

        #room-users-title-nb-users {
          font-weight: normal;
        }
      }

      #room-users-button {
        padding-right: 10px;

        li {
          line-height: @headerWidth;
          padding-right: 5px;
          float: right;
        }
      }
    }

    #room-users-list {
      padding: 10px 0;
      overflow-x: hidden;
      overflow-y: auto;

      .room-user {
        height: 50px;
        padding: 5px 0 0 0;

        .room-user-name {
          line-height: 50px;
          color: #333333;
          max-width: 100%;
          height: 50px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .room-user-status {
          line-height: 50px;
          padding: 0px 15px;

          i:before {
            content: "\e76e";
          }
        }
      }
    }
  }
}

.chat-sync {
  background-color: @colorBgPanel;
  padding: 40px;
  margin-top: 100px;
  .border-radius(10px);
}
.uiLeftContainerArea {
    float: left;
    overflow: auto;
    width: 257px;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    &.hideContent{opacity: 0; display: none}
    &.displayContent{opacity: 1; display: block}
}
.menu-standard {
  display: inline;
  i{font-size: 16px;
    &.uiIconSocGroup {font-size: 20px}
  }
  .actionIcon{
  	padding: 2px;
  	margin: 0 3px;
    line-height: 16px;
    min-width: 16px;
    .chat-status-chat {
        font-size: 12px;
        height: 14px;
        left: 1px;
        line-height: 14px;
        text-align: center;
        top: 0;
        width: 14px;
    }
  }
  &.pull-right {
    .uiSearchForm  {
      margin-top: 11px;
    }
    .uiIconClose{
        display: none
    }
  }


}

.left-chat
{
  clear: both;
  float: left;
}
.no-user-selection
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.right-chat
{
  float: left;
  border-top: 1px solid @colorBorder;
  border-right: 1px solid @colorBorder;
}
#chat-users
{
  height: (@height - 44);
  overflow: auto;
  cursor: default;
  margin-bottom: 0!important;

  .users-online:HOVER .uiIconChatFavorite {
    display: block;
    margin-right: 1px;
  }
}
.chat-status-chat {
  padding: 0;
  display: inline-block;
  white-space: nowrap;
  margin: 12px 7px 0px 0px;
  width: 16px;
  height: 16px;
  line-height: 29px;
  cursor: pointer;
  float: left;
}

.chat-status {
  padding: 0;
  top: -1px;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 8px;
  font-size: 12px;
}


.btn-top-add-actions {
  padding: 0;
  margin: 0;
  display: none;
}

.btn-top-history, .btn-top-offline {
  padding: 0;
  margin: 0;
  .active {
    border: 1px solid #bbbbbb;
    vertical-align: midde;
  }
}

table.list-rooms {
  tr.empty {
    td {
      text-align: center;
      padding-left: 6px;
    }
    &.info {
      td {
        background: none;
      }
    }
  }
  tr:last-child {
    border-bottom: 1px solid #CFCFCF;
    .box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.05));
  }
  .room-link {
    display: block;
    max-width: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .header-room {
    td {
      font-weight: bold;
      padding: 7px 7px 7px 19px;
      height: 20px;
    }
    .room-total {
      margin-left: 5px;
      display: none;
      margin-right: 5px;
    }
    .iconDynamic {
        cursor: pointer;
        line-height: 0px;
        padding: 0;
        margin-top: 6px;
        & > [class^="uiIcon"] {
            font-size: 9px;
        }
    }
    &:first-child{
      .border-radius(4px 4px 0 0);
    }
  }

  div.uiDropdownWithIcon {
    margin: 0;
    &.pull-left {
      margin-right: 15px;
    }
    &.pull-right {
      .uiIconArrowRight {
      }
      .uiIconArrowDown{
        &:before {
          content: "\e75a";
        }
      }
      .uiIconArrowRight {
        &:before {
          content: "\e75c";
        }
      }
    }
  }

  div.uiAction {
    line-height: 14px;
    padding: 1px;
  }

  .btn-add-team, .btn-history, .btn-offline {
    line-height: 14px;
    padding: 2px;
      position: relative;
    top: -1px;
  }
    .btn-add-team {
        top: 0;
        i {
            top: 0;
        }
    }
}


.team-users-search {
  margin-top: 5px;
}
.team-add-user-label {
  display: block;
  margin-top: 5px;
}
.team-user-logo, .task-user-logo {
  margin: 2px 10px 0 -100%;
  float: left;
  line-height: 0;
  width: 16px;
  height: 16px;
  img {
    width: 16px!important;
    height: 16px!important;
    .border-radius(2px);
  }
}
.team-users-results, .task-users-results {
  left: auto;
  top: auto;
  min-width: 270px;
  max-height: 173px;
  overflow: auto;
  .team-user, .task-user {
    cursor: pointer;
    overflow: hidden;
    .chat-user-name {
      float: left;
      width: 100%;
      white-space: nowrap;
      > .inner {
        margin-left: 26px;
        display: block;
      }
    }
    .chat-status-team, .chat-status-task {
      float: right;
      margin: 2px 0 0 -100%;
    }
  }
}
.team-user-fullname, .task-user-fullname {
  font-weight: normal;
  > b {
    font-weight: bold;
  }
}


.team-users-results {
  position: fixed;
}

.meeting-action-panel {
  .task-users-results {
    margin-top: -9px;
    right: 35px;
    left: auto;
    top: auto;
  }
}

.avatar-user {
  float: left;
  display: inline-block;
  padding-right: 20px;
  width: 30px;
}
.input-prepend input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.input-prepend .active {
  border-color: #c7c7c7;
}



#chat-search {
  height: 32px;
  margin-right: 6px;
}

.chat-message
{
  position: relative;
  height: @heightMessage;
  padding: 0!important;
  > .pull-left{
    padding-left: 11px!important;
  }
	.actionIconSmile{
        line-height: 20px;
        min-height: 20px;
        min-width: 22px;
        padding: 0;
        text-align: center;
	}
  .meeting-actions {
    margin: 4px 17px 0 0;

    .tooltip {
      pointer-events:none;
      left: -170px!important;
      top: -5px!important;
    }

    .meeting-action-link {
      display: block;
    }

    .uiIconMiniArrowDown {
      margin-left: 0;
    }

    .popover {
      display: none;
      position: absolute;
      left: auto;
      right: -15px;
      top: auto!important;
      bottom: 32px!important;
      min-width: 306px;
      max-width: none;
      width: auto!important;
      min-height: 130px;
      height:auto!important;
    }

    .popover-title {
      padding: 8px 10px 8px 14px;
      line-height: 25px;
    }

    .meeting-action-toggle{
      padding: 0;
      padding-left: 6px;
      > span {
        padding: 2px 4px;
      }
    }

    .popover-inner{
    	.popover-content{
    		.uiActionBorder{
    			text-align: right;
    			padding: 14px 35px 4px;
    			margin: 10px -35px 0;
    			white-space: nowrap;
    		}
    	}
    }

    .arrow {
      left: 92%;
    }

    &.open {
      + .tooltip {
        display: none!important;
      }
      .dropdown-menu {
        bottom: 130%;
      }
    }
  }

  .msg-emoticons-panel {
    top: auto;
    width: 108px;
    height: 118px;
    padding: 10px 10px 0 10px;
    position: absolute;
    cursor: default;
    left: 5px;
    bottom: 65px;
    z-index: 5;
    .arrow {left: 15px;}
    .emoticon {
      height: 27px;
    }
    .emoticon:hover {
      cursor: pointer;
    }
  }
  .meeting-action-panel {
    padding: 0px 20px 0;
    display: none;

    .actionTitle {
      display: inline-block;
      margin-top: 3px;
      margin-bottom: 5px;
    }

    .input-default {
      width: 100%
    }
    .input-with-value{
    	width: 100%;
    	margin-top: 8px;
    }
    .add-task{
    	//background: url("/eXoSkin/skin/images/themes/default/SearchInput/Search.png") no-repeat scroll right -1px ;
    	padding-right: 24px;
        &:before {
          content: "\e74a";
        }
    }

    .meeting-close-panel {
      margin: 0;
      padding: 1px 2px 0 2px;
    }

    .action-label {
      padding-right: 10px;
      line-height: 28px;
      vertical-align: top;
      text-align: right;
    }

    .btn {
      vertical-align: top;
      margin: 5px 0;
    }

    .uiSelectbox {
      vertical-align: top;
      width: 90px;

      .selectbox {
        width: 92px;
        font-size: 12px;
      }
    }

    .progressBar {
      width: 100%;
      text-align: center;
      margin-bottom: 18px;

      .progress {
        margin: 0;
        height: 68px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      .label {
        width: 100%;
        line-height: 20px;       
        padding: 0px;
        white-space: normal;
        display: table;
        .label-inner {
        	display:table-cell;
        	vertical-align: middle;
        	height: 68px;
        	width: 100%;
        	text-align: center;
	        text-transform: uppercase;
	        font-size: 18px;
        }
      }

      .bar {
        line-height: 68px;
      }
    }

  }

  .meeting-action-chat-panel {
    padding: 0;
    display: block;
  }

}

.chat-file-upload {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

}

.room-detail{
  position: block;
  height: @heightRoomDetail;
  .box-shadow(none)!important;
  padding:0!important;
}

.room-detail-button, .msbuttonGroupRecord {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.room-detail-button {
    .btn-primary {
        padding: 5px 10px;
    }
}
.msbuttonGroupRecord {
  .btn.msButtonRecord {
    padding-right: 6px;
    padding-left: 6px;
    [class^="uiIconChat"] {
      margin-top: -1px;
    }
  }
}

.team-button {
  float: right;
  height: 50px;
}

#chat-team-button.team-button {
  display: none;
}

.btn-weemo-conf {
  display: none;
}

//.btn-weemo-download, .btn-app-logout {
.btn-weemo-download {
  margin: 6px 10px 0 0!important;
  display: none;
  float: left;
  -webkit-border-radius: 4px!important;
  -moz-border-radius: 4px!important;
  border-radius: 4px!important;
}

.room-detail-fullname {
  overflow: hidden;
  display: block;
  padding-left: 10px;
  line-height: @headerWidth;
  .text-overflow;
}

.room-detail-avatar {
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}

.chat-status-team {
    font-size: 12px
}
.td-status {
  width: 16px;
  min-width: 16px;
    .user-available,.user-away,.user-donotdisturb, .user-invisible, .user-offline {
        font-size: 12px;
    }
  > i {
    margin-top: -2px;

  }
}
.users-online {
  td {
    border: 0px !important;
    height: 20px;
    vertical-align: middle;
    padding:6px 6px 6px 0 !important;
    &.td-status {
      padding: 6px 17px 6px 19px !important;
    }
  }
  .uiIconChatFavorite {
    cursor: pointer;
    display: none;
    top: -1px;
  }
}

.user-space-front {
  .background(-64px, -16px);
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}

.room-total-fixed {
  margin-left: 5px;
}

.call-off {
  .background(0, 0);
  width: 32px;
  height: 32px;
}
.call-on {
  .background(-32px, 0);
  width: 32px;
  height: 32px;
}
.type-link {
  .background(0, -66px);
  width: 32px;
  height: 32px;
}
.type-file {
  .background(-32px, -66px);
  width: 32px;
  height: 32px;
}
.call-join {
  .background(0, -130px);
  width: 32px;
  height: 32px;
}
.type-hand {
  .background(-32px, -130px);
  width: 32px;
  height: 32px;
}
.type-agenda {
  .background(-64px, -66px);
  width: 32px;
  height: 32px;
}
.type-task {
  .background(0, -98px);
  width: 32px;
  height: 32px;
}
.type-event {
  .background(-32px, -98px);
  width: 32px;
  height: 32px;
}
.type-question {
  .background(-64px, -98px);
  width: 32px;
  height: 32px;
}

.message-changed {
  .background(-68px, -32px);
  width: 12px;
  height: 10px;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
}

#msg
{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px 6px 4px 0;
  padding: 5px;
  width: 100%!important;
  float: left;
  height: 45px;
  resize: none;
}

.msg-button {
    padding: 0;
    right: 0;
    width: 15px;
}


.highlight {
  background-color: @colorHighlight;
  font-weight:bold;
}

#chat-users .table
{
  margin-bottom: 0;
}

.msgln
{
	padding: 3px 12px;
	background-color: @colorBgLight;
}

.user-link{
   font-weight: bold;
}

.msg-time
{
  vertical-align: bottom;
  font-weight: normal;
  color: #CCC;
  padding-left: 10px;
  line-height: 12px;
}

.system-event {
  font-weight: bold;
}

.system-event a {
  line-height: 12px;
  vertical-align: bottom;
}

.welcome-panel
{
  font-size: 17px;
  text-align: right;
  width: 80%;
}

footer
{
	position: fixed;
	bottom: 10px;
}

.btn-home-responsive {
  display: none;
  background: url('@{imgPath}home.png') no-repeat 0 0;
  width: 30px;
  height: 25px;
  background-size: 30px 25px;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 4px;
}


.contentDeleted {
  font-style: italic;
}

.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}

.text-modal textarea {width: 530px;height: 300px;}
.edit-modal textarea {width: 530px; margin: 15px;}

/* Team Modal */
.team-modal, #team-settings-modal-view {
  width: 360px;
  .modal-body {
    padding: 23px 30px;
    label {
      margin-bottom: 7px;
    }
  }
  .modal-footer {
    background: none;
    text-align: center;
  }
}
.uiGrayLightBox {
  &.input-append, &.input-prepend {
    display: block;
    margin-bottom: 0;
  }
}

.msTimeEvent, .msMeetingNotes {
  > div {
    margin-top: 5px;
  }
}
.uiIconChat32x32Event {
  position: relative;
}
.dayOnCalendar {
    font-size: 14px;
    line-height: 100%;
    font-style: normal;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 10px;
    .translate(-50%, 0);
}

.msHoverToLink {
  &.bold {
    font-weight: bold;
  }
}

#dropzone-container {
  display: block;
  margin-top: 8px;
}
.modal.uiPopup {
  left: 50% !important;
  position: absolute !important;
  top: 50% !important;
  width: auto !important;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.uiPopup .popupHeader .popupTitle {
  cursor: default;
}
#tipName td + td a {
   font-weight: bold;
}

.modal .uiIconResize {
    cursor: nw-resize; 
    height: 16px;
    margin: -18px 2px 2px; 
    width: 16px;
}
#menuButton,#searchButton, #searchButtonResp{
    display: none;
    position: relative;
    top: 10px;
    padding: 5px 8px 1px 8px
}
#searchButtonResp{top : 13px}
#menuButton.displayContent{
    left: 0;
    right: 0
}
#chat-status{
    display: block!important;
}

#searchButtonResp, .displayResponsive{display: none}
.uiExtraLeftContainer {display: none}
.clearfix{clear: both}

.uiPopup .popupHeader .uiIconClose + .PopupTitle{
    &.setting{display: none}
    &.add{display: none}
}