@media (min-width: 401px) and (max-width: 767px) {

  @height:                      645px;
  @width:                       600px;
  @heightMessage:               60px;
  @heightRoomDetail:            60px;
  @heightBar:                   0px;
  @widthUsers:                  180px;
  @widthMessages:               (@width - @widthUsers - 4);

  @import "sized";
  @import "panels";

  .LeftNavigationTDContainer {
    display: none;
  }

  .btn-home-responsive {
    display: inline-block;
  }

  .uiLeftContainerArea {
    width: 100%;
    float: none;

    #chat-users {
      height: initial !important;
      margin: 0!important;
    }
  }

  .uiRoomUsersContainerArea {
    #room-users-list {
      height: 317px!important;
    }

    #room-users-collapse-bar {
      line-height: 400px!important;
    }
  }

  .uiRightContainerArea {
    #chats {
      height: 275px!important;
    }
  }
}