@media (max-width: 767px) {
/*(min-width: 401px) and*/
  @height:                      645px;
  @width:                       600px;
  @heightMessage:               60px;
  @heightRoomDetail:            60px;
  @heightBar:                   0px;
  @widthUsers:                  180px;
  @widthMessages:               (@width - @widthUsers - 4);

  @import "sized";
  @import "panels";

  .LeftNavigationTDContainer {
    display: none;
  }

  .btn-home-responsive {
    display: inline-block;
  }

  .uiLeftContainerArea {
    width: 100%;
    float: none;
    display: none;
    opacity: 0;
    padding: 5px 5px 0 0!important;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    #chat-users {
      height: initial !important;
      margin: 0!important;
    }
  }

  .uiRoomUsersContainerArea {
        padding: 5px 0 0 5px;
    #room-users-list {
    /* test*/
     /* height: 317px!important;*/
    }

    #room-users-collapse-bar {
      line-height: 400px!important;
          margin-left: -7px;
    }
  }

  .uiRightContainerArea {
    #chats {

    /*test*/
      /*height: 275px!important;*/
    }
  }
  #menuButton{
    display: block
    }
     #chat-application {
        min-width: 320px;
        width: 100%;
    //    padding: 5px;
        padding: 0;

        .uiGrayLightBox {
          margin: 0!important;
          -webkit-border-radius: 0;

          .btn-weemo-download {
            display: none!important;
          }
          .uiSearchInput {
            display: none;
            opacity: 0;
            -ms-transition-duration: .5s;
            -moz-transition-duration: .5s;
            -webkit-transition-duration: .5s;
            transition-duration: .5s;
            .uiIconClose{display: none}
              &.displayContent{
                  display: block;
                  opacity: 1;
                  position: absolute;
                  left: 1%;
                  right: 1%;
                  top: 0;
                  #chat-search{
                      width: 100%;
                      height: 44px;
                  }
                  .uiIconClose{
                    position: absolute;
                    right: 2%;
                    display: block;
                    top: 11px;
                    z-index: 99999;
                  }
              }
          }
          .containerMoreItem {
            padding-right: 0px!important;
          }
        }

        .uiBox {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          margin: 0;
        }

        .uiLeftContainerArea {
          width: 100%;
          float: none;
          display: none;
              opacity: 0;
              -ms-transition-duration: .5s;
              -moz-transition-duration: .5s;
              -webkit-transition-duration: .5s;
              transition-duration: .5s;
              &.displayContent{
                display: block;
                opacity: 1;
              }

          #chat-users {
            height: initial !important;
            margin: 0!important;
          }
        }

        .uiRightContainerArea {
        /*test */
         /* height: 400px!important;*/
          padding: 5px 0 0 0!important;

          #chats {
          /*test*/
           /* height: 275px!important;*/
          }
        }

        .uiRoomUsersContainerArea {
          width: 97%;

          #room-users-list {
          /*test*/
           /* height: 317px!important;*/
          }

          #room-users-collapse-bar {
            line-height: 399px!important;
          }

          &:not(.room-users-expanded) {
            /*width: 70px;*/
            /*width: 55px;*/
            width :1px;
            .uiBox {
                #room-users-list{
                    .room-user{height: 40px}
                }
            }
            #room-users-collapse-bar {
              .uiIconArrowDefault:before {
                content: "\e75b";
              }
            }

            #room-users-header {
              #room-users-title {
                display: none;
              }

              #room-users-button {
                /*padding-right: 17px;*/
                padding-right: 10px;
              }
            }

            #room-users-list {
              .msUserAvatar {
                padding: 0;
                width: 100%;

                .msAvatarLink {
                  margin: 0 auto;
                }
              }

              .room-user-name, .room-user-status {
                display: none;
              }
            }
          }
        }
        .msUserAvatar {
            .msAvatarLink {
                /*width: 25px;
                height: 25px;
                img {width: 25px;height: 25px;}*/
            }
        }
      }
      #menuButton, #searchButton{
         display: block
      }

      .msRow {
        .msRightInfo{
            position: relative;
            min-width: 0;
            width: 100px;
            height: 19px;
        }
        .msAction {
            position: absolute;
            right: 1px;
            width: 277px;
        }
      }

#chats{
    .offset1 {
        margin-left: 10px;
    }
    .offset2 {
        margin-left: 63px;
    }
    span.channel-label{left:0!important}
    button#close-global-notif-config{
        position: relative;
        left: 0;
        right: 0;
    }
}

}