.chatapplication
{
  height: 600px;
  background-color: #FFF;
  padding: 10px;
}
.leftchat
{
  float: left;
  height: 100%;
}
.no-user-selection
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rightchat
{
  float: left;
  height: 100%;
  border-top: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  /* margin-left: 10px; */
}
.chatsearch
{
  background-color: white;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 5px 4px 5px 6px;
  margin-bottom: 0px;
  border-right: 1px solid #CCC;
  width: 170px;
}
.chatmessage
{
  width: 100%;
  background-color: #F1F1F1;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.room-inactive
{
  color: #D0D0D0;
}
.td-status {
  width: 16px;
  min-width: 16px;
  padding: 8px 5px 8px 6px !important;
}
.users-online td {
  border: 0px !important;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 5px 5px 0px;
}
.user-status {
  background:url('../img/mask-dot.png') no-repeat 0px 0px;
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}

.user-status:hover {
  background:url('../img/mask-star.png') no-repeat 0px 0px;
}

.user-favorite {
  background:url('../img/mask-star.png') no-repeat 0px 0px;
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}

.user-favorite:hover {
  background:url('../img/mask-dot.png') no-repeat 0px 0px;
}

.user-available {
  background-color: #180;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-donotdisturb {
  background-color: #B10;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-away {
  background-color: #DA0;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-invisible, .user-none {
  background-color: #EEE;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-space {
  background-color: #08C;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}

.label-user {
  display: block;
  width: 130px;
  margin-top: 3px;
  float: left;
}

.filter-on {
  background-position: 0px 0px;
  background:url('../img/filter-on.png') no-repeat 0px 0px;
  padding-left: 19px;
  cursor: pointer;
}

.filter-off {
  background-position: 0px 0px;
  background:url('../img/filter-off.png') no-repeat 0px 0px;
  padding-left: 19px;
  cursor: pointer;
}

.filter-user {
  background-position: 0px 0px;
  background:url('../img/filter-user.png') no-repeat 0px 0px;
}

.filter-space {
  background-position: 0px 0px;
  background:url('../img/filter-space.png') no-repeat 0px 0px;
}

.room-total {
  background-color: #3A87AD;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  line-height: 14px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#chats
{
	height: 560px;
	overflow-y: scroll;
	width: 350px;
}
#msg
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 4px 6px;
	padding: 5px;
	width: 326px;
}
#whoisonline
{
  height: 537px;
  /* background-color: #CEDEEE; */
  border: 1px solid #D0D0D0;
  /* border-bottom: 2px solid #CCC; */
  width: 180px;
  cursor: default;
}

.msgln
{
	padding: 3px 12px;
	background-color: #F3F3F3;
}
.msgln-odd
{
	padding: 3px 12px;
	background-color: #FFF;
}

footer
{
	position: fixed;
	bottom: 10px;
}
hr
{
  border: none;
  border-top: dotted 1px #F4F4F4;
}
