.chatapplication
{
  height: 600px;
  background-color: #FFF;
  padding: 10px;
}
.chatErrorPanel, .chatLoginPanel, .chatAboutPanel {
  float: left;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 533px;
  height: 553px;
  color: white;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.chatHelpPanel {
  float: left;
  z-index: 10;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 533px;
  height: 603px;
  color: black;
  padding: 0px 0px 0px 0px;
}
.chatSyncPanel {
  float: left;
  z-index: 10;
  position: absolute;
  width: 533px;
  height: 553px;
  color: white;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.chatSync {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  margin-top: 100px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.leftchat
{
  float: left;
  height: 100%;
}
.no-user-selection
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rightchat
{
  float: left;
  height: 100%;
  border-top: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  /* margin-left: 10px; */
}
.chatsearch
{
  background-color: white;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 5px 4px 5px 6px;
  margin-bottom: 0px;
  border-right: 1px solid #CCC;
  width: 170px;
}
.chatmessage
{
  /* width: 100%; */
  background-color: #F1F1F1;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.room-inactive
{
  color: #D0D0D0;
}
.td-status {
  width: 16px;
  min-width: 16px;
  padding: 8px 5px 8px 6px !important;
}
.users-online td {
  border: 0px !important;
  color: #333;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 5px 5px 0px;
  vertical-align: middle;
}
.users-online:hover {
  background-color: #F1F1F1;
}
.user-status {
  background:url('../img/mask-dot.png') no-repeat 0px 0px;
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}

.user-status:hover {
  background:url('../img/mask-star.png') no-repeat 0px 0px;
}

.user-favorite {
  background:url('../img/mask-star.png') no-repeat 0px 0px;
}

.user-favorite:hover {
  background:url('../img/mask-dot.png') no-repeat 0px 0px;
}

.user-available {
  background-color: #180;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-donotdisturb {
  background-color: #B10;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-away {
  background-color: #DA0;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-invisible, .user-none {
  background-color: #EEE;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}
.user-space {
  background-color: #08C;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}

.label-user {
  display: block;
  width: 130px;
  margin-top: 3px;
  float: left;
}

.filter-on {
  background-position: 0px 0px;
  background:url('../img/filter-on.png') no-repeat 0px 0px;
  padding-left: 19px;
  cursor: pointer;
}

.filter-off {
  background-position: 0px 0px;
  background:url('../img/filter-off.png') no-repeat 0px 0px;
  padding-left: 19px;
  cursor: pointer;
}

.filter-user {
  background-position: 0px 0px;
  background:url('../img/filter-user.png') no-repeat 0px 0px;
}
.filter-user:hover {
  background-color: #F1F1F1;
}

.filter-space {
  background-position: 0px 0px;
  background:url('../img/filter-space.png') no-repeat 0px 0px;
}
.filter-space:hover {
  background-color: #F1F1F1;
}

.room-total {
  background-color: #3A87AD;
  color: white;
  font-size: 10px;
  padding: 1px 4px;
  line-height: 12px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
}

#chats
{
	height: 540px;
	overflow-y: scroll;
	width: 350px;
}
#msg
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 4px 6px;
  padding: 5px 25px 5px 5px;
  width: 306px;
}

.msgButton {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 2px;
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor: pointer;
}
.msgButton:hover {
  opacity:1;
  filter:alpha(opacity=100);
}
.msgEmoticons {
  position: absolute;
  background:url('../img/smileys/smile.png') no-repeat 0px 0px;
  left: 515px;
  margin-top: 10px;
}
.msgHelp {
  position: absolute;
  background:url('../img/help.png') no-repeat 0px 0px;
  left: 515px;
  margin-top: 34px;
}

.sh_container {
  overflow-x: scroll;
  width: 325px;
  background-color: white;
}
.sh_java, .sh_javascript, .sh_css, .sh_html {
  min-width: 325px;
}
.highlight {
  background-color:#FF0;
  font-weight:bold;
}
#whoisonline
{
  height: 537px;
	overflow-y: scroll;
  border: 1px solid #D0D0D0;
  width: 180px;
  cursor: default;
}

.msgln
{
	padding: 3px 12px;
	background-color: #F3F3F3;
}
.msgln-odd
{
	padding: 3px 12px;
	background-color: #FFF;
}
.userLink
{
	color: #333;
  text-decoration: none;
}

footer
{
	position: fixed;
	bottom: 10px;
}
hr
{
  border: none;
  border-top: dotted 1px #F4F4F4;
}

.smiley {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 2px;
  margin: 0px;
}

.smileySmile {
  background:url('../img/smileys/smile.png') no-repeat 0px 0px;
}
.smileyBigSmile {
  background:url('../img/smileys/bigsmile.png') no-repeat 0px 0px;
}
.smileyEyeBlink {
  background:url('../img/smileys/eyeblink.png') no-repeat 0px 0px;
}
.smileyNoVoice {
  background:url('../img/smileys/novoice.png') no-repeat 0px 0px;
}
.smileySad {
  background:url('../img/smileys/sad.png') no-repeat 0px 0px;
}
.smileySurprise {
  background:url('../img/smileys/surprise.png') no-repeat 0px 0px;
}
.smileyText, .invisibleText {
  font-size: 1px;
  color: white;
}
.chevron-left-help {
  padding: 0px 0px 20px 40px;
  margin: 25px 0px 0px 10px;
  line-height: 32px;
  vertical-align: baseline;
  background: url('../img/chevron-left.png') no-repeat 0px 0px;
}

.chevron-left {
  padding-left: 30px;
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  background: #FFF url('../img/chevron-left-24px.png') no-repeat 0px 0px;
  display: inline-block;
  text-align: left;
}

.chevron-top {
  padding-left: 30px;
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  background: #FFF url('../img/chevron-top-24px.png') no-repeat 0px 0px;
  display: inline-block;
  text-align: left;
}

.chevron-right {
  padding-right: 30px;
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  background: #FFF url('../img/chevron-right-24px.png') no-repeat 0px 0px;
  display: inline-block;
  text-align: right;
  background-position: right;
}

.chevron-none {
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  background: #FFF;
  display: inline-block;
}

.chevron-rounded {
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-size: 12px;
  display: inline-block;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.chevron-bottom {
  padding-left: 30px;
  margin: 0px;
  line-height: 24px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 12px;
  background: #FFF url('../img/chevron-bottom-24px.png') no-repeat 0px 0px;
  display: inline-block;
}
