

.contactFilter {
  height: 36px;
  background: #355788;
  padding: 0 20px;
  color: #fff;
}

/* chat-contact component */
.chat-contact {
  display: inline-flex;
  align-items: center;
}
.chat-contact .contactLabel {
  margin-left: 10px;
}
.user-available .user-status, .user-available .uiIconStatus{
  color: #46a546;
}
.user-invisible .user-status, .user-invisible .uiIconStatus{
  color: #999999;
}
.chat-contact .uiIconStatus {
  font-size: 10px;
}
.chat-contact .user-status {
  font-variant: small-caps;
  margin-top: -5px;
}
/* chat-contact component */

/* contact list component */
.listHeader {
  display: flex;
  height: 50px;
  padding: 0 20px;
  border-bottom: 2px solid #7f97ba;
}
.contactList {
  padding: 10px 0;
}
.contactList .chat-contact {
  margin-right: auto;
  cursor: pointer;
}
.chat-contact-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.isList .chat-contact-avatar {
  width: 26px;
  height: 26px;
}
.chat-contact-avatar .uiIconStatus {
  position: absolute;
  bottom: 2px;
  right: -3px;
  top: auto;
}
.contact-list-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  color: #ffffff;
}
.contact-list-item.selected {
  background: #578DC9;
}
.favorite {
  position: static;
}
.favorite:before {
  content: "\e97f";
  color: #FAD86E;
  cursor: pointer;
  visibility: hidden;
}
.favorite.is-fav:before {
  content: "\e97d";
  visibility: visible;
}
.contact-list-item:hover .favorite:before {
  visibility: visible;
}
.unreadMessages, .favorite {
  width: 20px;
  height: 20px;
}
.unreadMessages {
  background: #578DC9;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.unreadMessages, .favorite {
  margin-left: 10px;
}
/* contact list component */

/* list participants area */
.room-users-collapse-btn .uiIcon{
  top: 2px;
  color: #ced2d5;
}
.room-users-collapse-btn .uiIcon:before{
  content: "\e903"
}
.collapsed .room-users-collapse-btn .uiIcon:before{
  content: "\e901"
}
.room-participants-title {
  margin-right: auto;
}
.room-participants-title {
  font-weight: bold;
  text-transform: uppercase;
}
.room-participants-filter .actionIcon {
  border: 1px solid #e1e8ee;
}
.uiIconChatMember:before {
  content: "\e6e1";
}
.room-participants-list {
  padding: 10px 20px;
}
.room-participants-list .chat-contact {
  margin: 5px 0;
}
.collapsed .room-participants-list {
  align-items: center;
}
.collapsed .room-participants-list .chat-contact .contactLabel {
  display: none;
}
/* list participants area */