.chatapplication
{
  height: 600px;
  background-color: #FFF;
  padding: 10px;
}
.leftchat
{
  float: left;
  height: 100%;
}
.rightchat
{
  float: left;
  height: 100%;
  border-top: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  /* margin-left: 10px; */
}
.chatsearch
{
  background-color: white;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  padding: 5px 4px 5px 6px;
  margin-bottom: 0px;
  border-right: 1px solid #CCC;
  width: 170px;
}
.chatmessage
{
  width: 100%;
  background-color: #F1F1F1;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.room-inactive
{
  color: #D0D0D0;
}
.td-status {
  width: 7px;
  min-width: 7px;
  padding: 8px 0px 8px 8px !important;
}
.user-available {
  background-position: 0px 0px;
  background:url('../img/available.png') no-repeat 3px 5px;
}
.user-donotdisturb {
  background-position: 0px 0px;
  background:url('../img/donotdisturb.png') no-repeat 3px 5px;
}
.user-away {
  background-position: 0px 0px;
  background:url('../img/away.png') no-repeat 3px 5px;
}

.room-total {
  background-color: #3A87AD;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  line-height: 14px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#chats
{
	height: 560px;
	overflow-y: scroll;
	width: 350px;
}
#msg
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 4px 6px;
	padding: 5px;
	width: 326px;
}
#whoisonline
{
  height: 560px;
  background-color: #CEDEEE;
  border: 1px solid #D0D0D0;
  /* border-bottom: 2px solid #CCC; */
  width: 180px;
  cursor: default;
}

.msgln
{
	padding: 3px 12px;
	background-color: #F3F3F3;
}
.msgln-odd
{
	padding: 3px 12px;
	background-color: #FFF;
}

footer
{
	position: fixed;
	bottom: 10px;
}
hr
{
  border: none;
  border-top: dotted 1px #F4F4F4;
}