/* Layout */
#chatApplicationContainer {
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.uiLeftContainerArea {
  background: #476a9c;
  color: #ffffff;
}
.uiLeftContainerArea, .uiRightContainerArea, .room-participants, .room-participants-list {
  .flex-column;
}
.uiGlobalRoomsContainer, .uiRightContainerArea {
  flex: 1;
}
.uiLeftContainerArea, .room-participants {
  width: @sideBarWidth;
  min-width: 250px;
  box-sizing: border-box;
}
.room-content {
  display: flex;
  height: calc(100% - 70px);
}
.room-detail, .userDetails {
  display: flex;
  flex-shrink: 0;
  height: 70px;
  padding: 0 20px;
  box-sizing: border-box;
}
.room-detail {
  align-items: center;
  border-bottom: @defaultBorder;
}
.room-participants {
  height: 100%;
}
.room-participants.collapsed {
  width: 70px;
  min-width: 0;
}
.uiRoomUsersContainerArea {
  border-left: @defaultBorder;
  position: relative;
}
.room-users-collapse-btn {
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: @defaultBorder;
  text-align: center;
}
.room-participants-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: @defaultBorder;
  padding: 0 20px;
}
#chats {
  background: @chatBackground;;
  flex: 1;
  padding: 0 10px 20px 30px;
  overflow-y: auto;
}
.chat-message {
  height: 100px;
  position: relative;
}