#chatstatus {
  color: #444;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 15px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
}

#chatstatus:hover {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-bottom: none;
  -moz-box-shadow: 1px 0 0 #e3e3e3;
  -webkit-box-shadow: 1px 0 0 #E3E3E3;
  box-shadow: 1px 0 0 #E3E3E3;
  color: #4283C7;
  position: relative;
  z-index: 2;
}

.notiftotal {
  background-color: #C00;
  color: white;
  font-size: 9px;
  padding: 1px 3px;
  line-height: 16px;
  left: 14px;
  position: relative;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.chatstatus, .popupchat {
  color: #444;
  font-weight: bold;
  padding: 0 2px;
  display: block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 0px auto;
  min-width: 17px;
  text-align: center;
  zoom: 1;
  font-size: 11px!important;
  font-family: verdana;
  border: 1px solid transparent;
  border-bottom: none;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  text-align: left;
  /*padding-left: 25px !important;*/
}

.chaticon {
  background:url('../img/chat.png') no-repeat 3px 4px;
  height: 22px;
}
.chatstatus-available-black {
  background:url('../img/status-available-black.png') no-repeat 3px 4px;
}
.chatstatus-available {
  background:url('../img/status-available.png') no-repeat 3px 4px;
}
.chatstatus-donotdisturb-black {
  background:url('../img/status-donotdisturb-black.png') no-repeat 3px 4px;
}
.chatstatus-donotdisturb {
  background:url('../img/status-donotdisturb.png') no-repeat 3px 4px;
}
.chatstatus-away-black {
  background:url('../img/status-away-black.png') no-repeat 3px 4px;
}
.chatstatus-away {
  background:url('../img/status-away.png') no-repeat 3px 4px;
}
.chatstatus-invisible-black {
  background:url('../img/status-invisible-black.png') no-repeat 3px 4px;
}
.chatstatus-invisible {
  background:url('../img/status-invisible.png') no-repeat 3px 4px;
}
