@imgPath:                     "/chat/img/";

/* Typography */
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;

/* colors */
@primaryColor: #578dc9;
@secondaryColor: #476a9c;
@titleColor: #4d5466;
@bodyTextColor: #333;
@chatBackground: #fafdff;
@grayLight: #999;
@secondaryIconColor: #a1a5ad;

/* colors */
@white:                 #fff;
@colorBgLight:                #F1F1F1;
@backgroundColor:             white;
@colorUserLink:               #AAA;
@colorIconDefault: #999999;
@grayLighter:           #eee;
@grayDark:              #333;
@colorIconSecondary:#ffffff;

/* layout */
@sideBarWidth: 20vw;
@headerHeight: 70px;
@headerMobile: 45px;
/* layout */

/* border & shadow */
@borderColor: #e1e8ee;
@defaultBorder: 1px solid @borderColor;
@bigBorder: 2px solid @borderColor;
@defaultShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
/* borde & shadow */

/* Responsive */
@mobile: 767px;
@tablet: 1024px;
/* Responsive */

@emoticonsSize: 24px;

// Component sizing
@sizeIcon24x24: 22px;

// Icon color
@iconStatusDefaultContainerLight: @grayLight;

// scroll webkit
@scrollSize: 5px;
@scrollDefaultTrackColor: #ced2d5;
@scrollDefaultThumbColor: @primaryColor;
@scrollThumbRaduis: 3px;
@scrollSecondaryThumbColor: #ced2d5;