//@notifBackgroundColor:        #4f72ac;
@notifBackgroundColor:        #B00;
@notifColor:                  #ffffff;
@backgroundColor:             #ffffff;
@borderColor:                 #DBDBDB;
@shadowColor:                 #E3E3E3;
@hoverColor:                  #4f72ac;
@statusColor:                 #444444;
@imgPath:                     "/chat/img/";

#chat-notification {
  position: absolute;
  left: 14px;
  top: -7px;
}

.notif-total {
  background-color: @linkColor;
  color: #fff;
  font-size: 10px;
  height: 13px;
  line-height: 13px;
  padding: 0 3px;
  font-weight: bold;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 1px 2px 1px 0px rgba(35,44,48,0.8);
}

.platform-blue {
  background-color: #4f72ac;
}

.ChatNotificationTDContainer {
  float:right!important;
}

#chat-notifications-details {
  display: none;
  .chat-notification-detail {
    display: block;
    img {
      float: left;
      margin-right: 10px;
      margin-top: 4px;
    }
    .chat-label-status {
      overflow: hidden;
    }
    .timestamp {
      font-size: 12px;
      line-height: 18px;
      color: #999;
    }
    &:hover {
      color: #fff;
      .timestamp  {
        color: #fff;
      }
    }
  }
}
.chat-notification-loading {
  padding-left: 10px;
  line-height: 16px;
  vertical-align: bottom;
}

.no-user-selection
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.full-border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.arrow_box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #AAA;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 33%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(240, 240, 240, 0);
  border-bottom-color: #FFFFFF;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(170, 170, 170, 0);
  border-bottom-color: #AAA;
  border-width: 11px;
  margin-left: -11px;
}

.mini-chat {
  display: none;
  position: absolute;
  left: 150px;
  top: -1px;
  width: 300px;
  background-color: #FFFFFF;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 2px 6px 0px rgba(35, 44, 48, 0.5);
  border: 1px solid #AAA;

  .title {
    height: 20px;
    padding: 5px;
    width: 290px;

    .fullname {
      line-height: 24px;
      font-weight: bold;
      padding-left: 5px;
    }

    .btn-close {
      float: right;
      padding: 1px 2px 0px 3px;
      margin: 0;
    }
  }

  .history {
    display: block;
    height: 300px;
    width: 288px;
    margin: 5px;
    background-color: white;
    overflow-y: scroll;
    border: 1px solid #E0E0E0;

    .msgln
    {
      padding: 3px 12px;
      background-color: @colorBgLight;
    }
    .msgln-odd
    {
      padding: 3px 12px;
      background-color: @backgroundColor;
    }
    .user-link
    {
      color: @colorUserLink;
      text-decoration: none;
    }

    .msg-time
    {
      vertical-align: bottom;
      font-weight: normal;
      color: #CCC;
      padding-left: 10px;
      line-height: 12px;
    }

    .system-event {
      line-height: 12px;
      vertical-align: bottom;
      font-weight: bold;
      width: 100%;
      word-wrap: break-word;
    }

    .system-event a {
      line-height: 12px;
      vertical-align: bottom;
    }

    .emoticon-text, .invisible-text {
      font-size: 1px;
      color: white;
    }

    .call-off {
      .background(0, 0);
      width: 32px;
      height: 32px;
    }
    .call-on {
      .background(-32px, 0);
      width: 32px;
      height: 32px;
    }
    .type-link {
      .background(0, -66px);
      width: 32px;
      height: 32px;
    }
    .type-file {
      .background(-32px, -66px);
      width: 32px;
      height: 32px;
    }
    .call-join {
      .background(0, -130px);
      width: 32px;
      height: 32px;
    }
    .type-hand {
      .background(-32px, -130px);
      width: 32px;
      height: 32px;
    }
    .type-agenda {
      .background(-64px, -66px);
      width: 32px;
      height: 32px;
    }
    .type-task {
      .background(0, -98px);
      width: 32px;
      height: 32px;
    }
    .type-event {
      .background(-32px, -98px);
      width: 32px;
      height: 32px;
    }
    .type-question {
      .background(-64px, -98px);
      width: 32px;
      height: 32px;
    }

    .message-changed {
      .background(-68px, -32px);
      width: 12px;
      height: 10px;
      margin-right: 4px;
      margin-top: 4px;
      float: left;
    }
  }

  .message {
    height: 33px;

    input {
      width: 290px;
      margin-left: 5px;

    }
  }
}

// Weemo Status
.weemo-status {
  position: absolute;
  left: -8px;
  top: -3px;
}
.weemo-status-not-connected {
  .weemo(0, 0);
}
.weemo-status-connecting {
  .weemo(-8px, 0);
}
.weemo-status-error {
  .weemo(0, -8px);
}
.weemo-status-connected {
  .weemo(-8px, -8px);
}

.weemoCallOverlay, .chatPopupOverlay {
  margin-top: 5px!important;
}

.uiNotifChatTitle {
  display: inline-block;
}

/* Chat Status */
.chat-status-icon {
	display: inline-block;
	.square(16px);
	background-image: url("@{imgPath}/uiIconChatColor.png");
	background-repeat: no-repeat;
	background-color: transparent;
	vertical-align: middle;
}
.chat-status-available {
  background-position: 0 0;
}
.chat-status-donotdisturb{
  background-position: -20px 0;
}
.chat-status-away {
  background-position: -40px 0;
}
.chat-status-invisible {
  background-position: -60px 0;
}
.chat-status-icon.chat-status-open {
  background-image: url("@{imgPath}/uiIconChatBlue.png");
  background-position: -180px 0;
  background-size: 196px 76px;
}
.notif-chat-open-link:hover {
  .chat-status-open {
    background-image: url("@{imgPath}/uiIconChatWhite.png");
    background-size: 196px 76px;
  }
}
.chatStatusPortlet {
	.dropdown-menu {
    min-width: 200px;
		> li {
			> a {
				position: relative;
			}
		}
		.chat-label-status {
			vertical-align: middle;
		}
		.chat-status-icon {
			margin-right: 10px;
		}
		.chat-status-selected {
			position: absolute;
			right: 6px;
			top: 5px;
      display: none;
		}
	}
}