// Spirtes

// Toggle Status
.uiNotifChatIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 100%;
  vertical-align: middle;
  position: relative;
  &:before { // Changing the background image to font-icon
	content: "\e601";
	font-size: @sizeIcon24x24;
  }
  span { // reset the font for the number of notifications
	font-family: @sansFontFamily;
  }
}

// Setting every icon
.toggle-status-available {
  color: @iconStatusAvailable;
}
.toggle-status-away {
  color: @iconStatusAway;
}
.toggle-status-donotdisturb {
  color: @iconStatusDoNotDisturb;
}
.toggle-status-invisible {
  color: @iconStatusInvisible;
}

.UIToolbarContainerLight {
	.toggle-status-invisible {
      color: @iconStatusInvisibleContainerLight;
    }
    .toggle-status-available {
      color: @iconStatusAvailable;
    }
    .toggle-status-away {
      color: @iconStatusAway;
    }
    .toggle-status-donotdisturb {
      color: @iconStatusDoNotDisturb;
    }
}

.uiNotifWeemoIcon {
  &:before {
	content: "\e602";
  }
}

.uiNotifWeemoRed {
  color: @weemoRed;
}
.uiNotifWeemoBlue {
  color: @weemoBlue;
}
.uiNotifWeemoWarning {
  color: @weemoWarning;
  &:before {
	content: "\e772";
  }
}
.uiNotifWeemoGreen {
  color: @weemoGreen;
}
// Icon Chat 16x16
.LeftNavigationTDContainer [class^="uiIconChat"],.uiIconChatExtra ,.uiIconChatDrakGray{
  color: @colorIconExtra;
}
.uiIconChatTeam:before {
  content: "\e6be";
}
.uiIconChatSpace:before {
  content: "\e6c1";
}
.uiIconChatAction:before {
  content: "\e620";
}
.uiIconChatSmile:before {
  content: "\e621";
}
.uiIconChatRaiseHand:before {
  content: "\e622";
}
.uiIconChatAssign:before {
  content: "\e6c6";
}
.uiIconChatCreateEvent:before {
  content: "\e613";
}
.uiIconChatCreateTask:before {
  content: "\e614";
}
.uiIconChatEdited:before {
  content: "\e6e3";
}
.uiIconChatChat:before {
  content: "\e601";
}
.uiIconChatVideo:before {
  content: "\e602";
}
.uiIconChatMember:before {
  content: "\e6cb";
}
.uiIconChatClock:before {
  content: "\e742";
}
.uiIconChatArrowDown:before {
  content: "\e75a";
}
.uiIconChatArrowRight:before {
  content: "\e75c";
}
.uiIconChatSimplePlusMini:before {
  content: "\e74b";
}
.uiIconChatLink:before {
  content: "\e793";
}
.uiIconChatCheckin:before {
  content: "\e782";
}
.uiIconChatUpload:before {
  content: "\e78d";
}
.uiIconChatDownload:before {
  content: "\e784";
}
.uiIconChatSearch:before {
  content: "\e74a";
}
.uiIconChatQuestion:before {
  content: "\e76b";
}
.uiIconChatEdit:before {
  content: "\e791";
}
.uiIconChatClose:before {
  content: "\e75e";
}
.uiIconChatRecordStart:before {
  content: "\e775";
}
.uiIconChatRecordStop:before {
  content: "\e76c";
}
.uiIconChatSendEmail:before {
  content: "\e777";
}
.uiIconChatWiki:before {
  content: "\e695";
}
.uiIconChatRecording:before {
  content: "\e76c";
}
.uiIconChatAddPeopleToMeeting:before {
  content: "\e618";
}
.uiIconChatStartCall:before {
  content: "\e61c";
}
.uiIconChatFinishCall:before {
  content: "\e61e";
}
.uiIconChatMeeting:before {
  content: "\e61a";
}
.uiIconChatAddMembership:before {
  content: "\e6c7";
}
.uiIconChatStar:before {
  content: "\e779";
}
.uiIconChatVideo:before {
  content: "\e602";
}
.uiIconChatPopOut:before {
  content: "\e754";
}
/* Define Blude Color */
.nav-pills > .active > a > [class^="uiIconChat"], .nav-list > .active > a > [class^="uiIconChat"], .navbar-inverse .nav > .active > a > [class^="uiIconChat"], .btn:hover [class^="uiIconChat"], a:hover [class^="uiIconChat"], .actionIcon.active [class^="uiIconChat"], .nodeSelected:hover [class^="uiIconChat"], [class^="uiIconChat"]:hover, .uiActionBar [class^="uiIconChat"]:hover, .chat-message > .meeting-actions > .actionIcon:hover > i,
.uiActionWithLabel:hover [class^="uiIconChat"], .uiActionWithLabel.active [class^="uiIconChat"],
.actionIcon:hover [class^="uiIconChat"], .actionIcon.active [class^="uiIconChat"],
.header-room:hover [class^="uiIconChatArrow"] {
  color: @hoverColor;
}
/* Define Light Gray Color */
[class^="uiIconChat"],.dropdown-menu > li > a > [class^="uiIconChat"], .dropdown-menu > .active > a > [class^="uiIconChat"], .uiDropdownWithIcon .dropdown-submenu > a > [class^="uiIconChat"], .uiActionBar [class^="uiIconChat"], .uiIconChatLightGray{
  color: @grayLight;
}

/* Define White Color */
.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconChat"], .uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconChat"], .uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconChat"], .uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconChat"], .uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconChat"], .uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconChat"], .btn-primary [class^="uiIconChat"], .btn-primary:hover [class^="uiIconChat"], .uiDropDownCal a:hover [class^="uiIconChat"], .uiDropDownCal .active a:hover [class^="uiIconChat"], .eventAllDay [class^="uiIconChat"], .eventDayContainer [class^="uiIconChat"], .uiIconChatWhite, .chat-message .dropdown-menu a:hover [class^="uiIconChat"],
.users-online.info .td-status [class^="uiIconChat"], .room-detail-button .btn:hover [class^="uiIconChat"],  .room-detail-button .btn [class^="uiIconChat"]:hover, .chat-notification-detail:hover [class^="uiIconChat"] {
  color: @white;
}



/* Icons Size 32x32 */
[class^="uiIconChat32x32"], [class^="uiIconChat32x32"]:hover {
	width: 32px;
	height: 32px;
	color: @grayDark;
	font-size: @sizeIcon32x32;
}
.uiIconChat32x32Team:before {
  content: "\e6be";
}
.uiIconChat32x32HyperLink:before {
  content: "\e61b";
}
.uiIconChat32x32RaiseHand:before {
  content: "\e622";
}
.uiIconChat32x32Event:before {
  content: "\e619";
}
.uiIconChat32x32Task:before {
  content: "\e611";
}
.uiIconChat32x32ShareFile:before {
  content: "\e6b3";
}
.uiIconChat32x32Question:before {
  content: "\e76b";
}
.uiIconChat32x32AddCall:before {
  content: "\e618";
}
.uiIconChat32x32StartCall:before {
  content: "\e61c";
}
.uiIconChat32x32FinishCall:before {
  content: "\e61e";
}
.uiIconChat32x32Space:before {
  content: "\e6c1";
}
.uiIconChat32x32Blog:before {
  content: "\e678";
}
.uiIconChat32x32Metting:before {
  content: "\e61a";
}
//.uiIconChat32x32MeetingStop {background-position: -108px -36px;}
//.uiIconChat32x32MeetingStart {background-position: -144px -36px;}

// Define Blude Color
.nav-pills > .active > a > [class^="uiIconChat32"],
.nav-list > .active > a > [class^="uiIconChat32"],
.navbar-inverse .nav > .active > a > [class^="uiIconChat32"],
.btn:hover [class^="uiIconChat32"], a:hover [class^="uiIconChat32"],
.actionIcon.active [class^="uiIconChat32"],
.nodeSelected:hover [class^="uiIconChat32"],
.uiActionBar [class^="uiIconChat32"]:hover {
  color: @hoverColor;
}
// Define Light Gray Color
.dropdown-menu > li > a > [class^="uiIconChat32"],
.dropdown-menu > .active > a > [class^="uiIconChat32"],
.uiDropdownWithIcon .dropdown-submenu > a > [class^="uiIconChat32"],
.uiActionBar [class^="uiIconChat32"],
.uiIconChat32x32LightGray, .uiIconChat32x32LightGray:hover{
  color: @grayLight;
}

// Define White Color
.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconChat32"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconChat32"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconChat32"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconChat32"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconChat32"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconChat32"],
.btn-primary [class^="uiIconChat32"],
.btn-primary:hover [class^="uiIconChat32"],
.uiDropDownCal a:hover [class^="uiIconChat32"],
.uiDropDownCal .active a:hover [class^="uiIconChat32"],
.eventAllDay [class^="uiIconChat32"],
.eventDayContainer [class^="uiIconChat32"],
.uiIconChat32x32White,
.chat-message .dropdown-menu a:hover [class^="uiIconChat32"] {
  color: @white;
}


// Adding font-icon in chat status elements in notifications
.chat-status-icon {
  font-family: "PLF-FONT-ICONS";
}
[class^="chat-status-"]:before {
  content: "\e76e";
}
.chat-status-open:before {
  content: "\e601";
}