.chat-sync {
  background-color: @colorBgPanel;
  padding: 40px;
  margin-top: 100px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn-mobile, .menu-mobile, .room-mobile {
  display: none;
}
.menu-standard {
  display: inline;
}

.left-chat
{
  clear: both;
  float: left;
}
.no-user-selection
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.right-chat
{
  float: left;
  border-top: 1px solid @colorBorder;
  border-right: 1px solid @colorBorder;
}

.chat-status-chat {
  padding: 0px 2px;
  display: inline-block;
  white-space: nowrap;
  background-position: 0px 0px;
  margin: 8px 7px 0px 0px;
  min-width: 17px;
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  float: left;
}

.chat-menu {
  padding-left: 27px!important;
  background-position-y: 7px!important;
}

.chat-menu:hover {
  background-color: @colorChatMenu;
}

.avatar-user {
  float: left;
  display: inline-block;
  padding-top: 5px;
  padding-right: 3px;
  width: 30px;
}

.filter (@image, @paddingLeft) {
  background-position: 0px 0px;
  .background(@image);
  cursor: pointer;
  padding-left: @paddingLeft;
}

.filter-on {
  .filter('filter-on.png', 19px);
}

.filter-off {
  .filter('filter-off.png', 19px);
}

.filter-user {
  .filter('filter-user.png', 0);
  display: inline-block;
  font-size: 12px;
  margin-top: 3px;
}

.filter-space {
  .filter('filter-space.png', 0);
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.filter-public {
  .filter('filter-public.png', 0);
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.filter-empty {
  .filter('empty.png', 19px);
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}

.filter-user:hover, .filter-space:hover, .filter-public:hover {
  background-color: @colorBgLight;
}



.chat-message
{
  position: relative;
  background-color: @colorBgLight;
  border-top: 1px solid @colorBorderGrey;
  border-bottom: 1px solid @colorBorderGrey;
  height: @heightMessage;
}
.room-inactive
{
  color: #D0D0D0;
}
.td-status {
  width: 16px;
  min-width: 16px;
  padding: 8px 5px 8px 6px !important;
}
.users-online td {
  border: 0px !important;
  color: #333;
  font-size: 12px;
  padding: 5px 5px 5px 0px;
  vertical-align: middle;
}
.users-online:hover {
  background-color: @colorBgLight;
}

.user-status {
  .background('mask-dot.png');
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}
.user-status:hover {
  .background('mask-star.png');
}

.user-favorite{
  .background('mask-star.png');
  width: 16px;
  display: block;
  height: 16px;
  float: left;
}

.user-favorite:hover {
  .background('mask-dot.png');
}

.user-status(@colorParam) {
  background-color: @colorParam;
  margin: 2px;
  width: 12px;
  height: 12px;
  display: block;
}

.user-available {
  .user-status(@colorAvailable);
}
.user-donotdisturb {
  .user-status(@colorDoNoDisturb);
}
.user-away {
  .user-status(@colorAway);
}
.user-invisible, .user-none {
  .user-status(@colorInvisible);
}
.user-space {
  .user-status(@colorSpace);
}


.room-total {
  background-color: @colorNotif;
  color: @colorLightText;
  font-size: 10px;
  padding: 1px 4px;
  line-height: 12px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  font-family: Verdana;
}


.msg-button {
  min-width: 16px;
  height: 16px;
  padding: 2px;
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 8px;
}
.msg-button:hover {
  opacity:1;
  filter:alpha(opacity=100);
}
.msg-help {
  .background('help.png');
}

.highlight {
  background-color: @colorHighlight;
  font-weight:bold;
}

#chat-users .table
{
  margin-bottom: 0;
}

.msgln
{
	padding: 3px 12px;
	background-color: @colorBgLight;
}
.msgln-odd
{
	padding: 3px 12px;
	background-color: @backgroundColor;
}
.user-link
{
	color: @colorUserLink;
  text-decoration: none;
}

.welcome-panel
{
  font-size: 16px;
  text-align: right;
  width: 80%;
}

footer
{
	position: fixed;
	bottom: 10px;
}
hr
{
  border: none;
  border-top: dotted 1px @colorBgLight;
}

