.background-emoticon(@image) {
  background: url('@{imgEmoticonPath}@{image}') no-repeat 0px 0px;
  background-size: 16px 16px;
}

.msg-emoticons-panel {
  background: @colorBgEmoticonPlain;
  background-color: @colorBgEmoticon;
  min-width: 63px;
  height: 40px;
  padding: 2px 0px 4px 4px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  bottom: 61px;
  z-index: 5;
}
.msg-emoticons {
  .background-emoticon('smile.png');
  z-index: 10;
}

.emoticon {
  display: inline-block;
  min-width: 15px;
  height: 16px;
  padding: 1px;
  margin: 0px;
  font-size: 1px;
}

.emoticon-smile {
  .background-emoticon('smile.png');
}
.emoticon-big-smile {
  .background-emoticon('bigsmile.png');
}
.emoticon-eye-blink {
  .background-emoticon('eyeblink.png');
}
.emoticon-no-voice {
  .background-emoticon('novoice.png');
}
.emoticon-sad {
  .background-emoticon('sad.png');
}
.emoticon-surprise {
  .background-emoticon('surprise.png');
}
.emoticon-smile-white {
  .background-emoticon('smile-white.png');
}
.emoticon-big-smile-white {
  .background-emoticon('bigsmile-white.png');
}
.emoticon-eye-blink-white {
  .background-emoticon('eyeblink-white.png');
}
.emoticon-no-voice-white {
  .background-emoticon('novoice-white.png');
}
.emoticon-sad-white {
  .background-emoticon('sad-white.png');
}
.emoticon-surprise-white {
  .background-emoticon('surprise-white.png');
}
.emoticon-beer {
  .background-emoticon('beer.png');
}
.emoticon-bow {
  .background-emoticon('bow.png');
}
.emoticon-bug {
  .background-emoticon('bug.png');
}
.emoticon-cake {
  .background-emoticon('cake.png');
}
.emoticon-cash {
  .background-emoticon('cash.png');
}
.emoticon-coffee {
  .background-emoticon('coffee.png');
}
.emoticon-no {
  .background-emoticon('no.png');
}
.emoticon-star {
  .background-emoticon('star.png');
}
.emoticon-yes {
  .background-emoticon('yes.png');
}

.emoticon-text, .invisible-text {
  font-size: 1px;
  color: white;
}
