.background-emoticon(@image) {
  background: url('@{imgEmoticonPath}@{image}') no-repeat 0px 0px;
}

.msg-emoticons-panel {
  background-color: @colorBgEmoticon;
  min-width: 63px;
  height: 40px;
  padding: 2px 0px 4px 4px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  position: relative;
  top: -107px;
}
.msg-emoticons {
  .background-emoticon('smile.png');
}

.emoticon {
  display: inline-block;
  min-width: 16px;
  height: 16px;
  padding: 2px;
  margin: 0px;
  font-size: 1px;
}

.emoticon-smile {
  .background-emoticon('smile.png');
}
.emoticon-big-smile {
  .background-emoticon('bigsmile.png');
}
.emoticon-eye-blink {
  .background-emoticon('eyeblink.png');
}
.emoticon-no-voice {
  .background-emoticon('novoice.png');
}
.emoticon-sad {
  .background-emoticon('sad.png');
}
.emoticon-surprise {
  .background-emoticon('surprise.png');
}
.emoticon-smile-white {
  .background-emoticon('smile-white.png');
}
.emoticon-big-smile-white {
  .background-emoticon('bigsmile-white.png');
}
.emoticon-eye-blink-white {
  .background-emoticon('eyeblink-white.png');
}
.emoticon-no-voice-white {
  .background-emoticon('novoice-white.png');
}
.emoticon-sad-white {
  .background-emoticon('sad-white.png');
}
.emoticon-surprise-white {
  .background-emoticon('surprise-white.png');
}
.emoticon-text, .invisible-text {
  font-size: 1px;
  color: white;
}
