.chat-panel (@heightParam, @colorParam) {
  float: left;
  z-index: 10;
  position: absolute;
  width: @width;
  height: @heightParam;
  color: @colorParam;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.chat-error-panel, .chat-login-panel, .chat-about-panel, .chat-demo-panel {
  .chat-panel((@height - 51), white);
  background: @colorBgPanelPlain;
  background-color: @colorBgPanel;
}
.chat-help-panel {
  .chat-panel((@height - 1), black);
  background:url('@{imgPath}help-panel.png') no-repeat 0px 0px;
  padding: 0px 0px 0px 0px;
}
.chat-sync-panel {
  .chat-panel((@height - 151), white);
  background: @colorBgPanelPlain;
  background-color: @colorBgPanel;
  width: 200px;
  height: 130px;
  margin-left: (@width/2-100);
  margin-top: 100px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


.chat-status-panel {
  position: fixed;
  background: @colorBgStatusPlain;
  background-color: @colorBgStatus;
  cursor: pointer;
  margin-top: 32px;
  border: 1px solid @colorBorderStatus;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
