.chatErrorPanel, .chatLoginPanel, .chatAboutPanel, .chatDemoPanel {
  float: left;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 533px;
  height: 594px;
  color: white;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.chatHelpPanel {
  float: left;
  z-index: 10;
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background:url('@{imgPath}help-panel.png') no-repeat 0px 0px;
  width: 533px;
  height: 644px;
  color: black;
  padding: 0px 0px 0px 0px;
}
.chatSyncPanel {
  float: left;
  z-index: 10;
  position: absolute;
  width: 533px;
  height: 594px;
  color: white;
  padding: 50px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}