@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
/*
  .filter (@image, @paddingLeft) {
    background-position: 0px 0px;
    .background(@image);
    cursor: pointer;
    padding-left: @paddingLeft;
    background-size: 19px 19px;
  }

  .filter-on {
    .filter('2x/filter-on.png', 19px);
  }

  .filter-off {
    .filter('2x/filter-off.png', 19px);
  }

  .filter-user {
    .filter('2x/filter-user.png', 0);
    display: inline-block;
    font-size: 12px;
    margin-top: 3px;
  }

  .filter-space {
    .filter('2x/filter-space.png', 0);
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
  }

  .filter-public {
    .filter('2x/filter-public.png', 0);
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
  }
  */

  @imgEmoticonPath:             "@{imgPath}2x/emoticons.png";

  .background-emoticon(@left, @top) {
    background: url('@{imgEmoticonPath}') no-repeat @left @top;
    background-size: 128px 64px;
  }

  .msg-emoticons {
    .background-emoticon(-112px, -32px);
  }

  .emoticon-smile {
    .background-emoticon(-112px, -32px);
  }
  .emoticon-big-smile {
    .background-emoticon(-48px, 0);
  }
  .emoticon-eye-blink {
    .background-emoticon(-112px, -16px);
  }
  .emoticon-no-voice {
    .background-emoticon(-48px, -32px);
  }
  .emoticon-sad {
    .background-emoticon(-80px, -32px);
  }
  .emoticon-surprise {
    .background-emoticon(-48px, -48px);
  }
  .emoticon-smile-white {
    .background-emoticon(-96px, -32px);
  }
  .emoticon-big-smile-white {
    .background-emoticon(-32px, 0);
  }
  .emoticon-eye-blink-white {
    .background-emoticon(-96px, -16px);
  }
  .emoticon-no-voice-white {
    .background-emoticon(-32px, -32px);
  }
  .emoticon-sad-white {
    .background-emoticon(-64px, -32px);
  }
  .emoticon-surprise-white {
    .background-emoticon(-32px, -48px);
  }
  .emoticon-beer {
    .background-emoticon(-16px, 0);
  }
  .emoticon-bow {
    .background-emoticon(-80px, 0);
  }
  .emoticon-bug {
    .background-emoticon(-112px, 0);
  }
  .emoticon-cake {
    .background-emoticon(-16px, -16px);
  }
  .emoticon-cash {
    .background-emoticon(-48px, -16px);
  }
  .emoticon-coffee {
    .background-emoticon(-80px, -16px);
  }
  .emoticon-no {
    .background-emoticon(-16px, -32px);
  }
  .emoticon-star {
    .background-emoticon(-16px, -48px);
  }
  .emoticon-yes {
    .background-emoticon(-112px, -48px);
  }
  .emoticon-tongue {
    .background-emoticon(-80px, -48px);
  }
  .emoticon-beer-white {
    .background-emoticon(0, 0);
  }
  .emoticon-bow-white {
    .background-emoticon(-64px, 0);
  }
  .emoticon-bug-white {
    .background-emoticon(-96px, 0);
  }
  .emoticon-cake-white {
    .background-emoticon(0, -16px);
  }
  .emoticon-cash-white {
    .background-emoticon(-32px, -16px);
  }
  .emoticon-coffee-white {
    .background-emoticon(-64px, -16px);
  }
  .emoticon-no-white {
    .background-emoticon(0, -32px);
  }
  .emoticon-star-white {
    .background-emoticon(0, -48px);
  }
  .emoticon-yes-white {
    .background-emoticon(-96px, -48px);
  }
  .emoticon-tongue-white {
    .background-emoticon(-64px, -48px);
  }
  .msg-help {
    .background('2x/help.png');
    background-size: 16px 16px;
  }

  .user-status {
    .background('2x/mask-dot.png');
    background-size: 16px 16px;
  }

  .user-status:hover, .user-favorite {
    .background('2x/mask-star.png');
    background-size: 16px 16px;
  }

  .user-favorite:hover {
    .background('2x/mask-dot.png');
    background-size: 16px 16px;
  }

  .user-space-front {
    .background('2x/mask-space.png');
    background-size: 16px 16px;
  }

  .user-status:hover .user-space-front:hover {
    .background('2x/mask-star.png');
    background-size: 16px 16px;
  }

  .user-favorite:hover .user-space-front:hover {
    .background('2x/mask-dot.png');
    background-size: 16px 16px;
  }


  .icon(@name) {
    .background('2x/icon-@{name}.png');
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
  }
  .icon-search {
    .icon('search');
  }
  .icon-user {
    .icon('user');
  }
  .icon-chevron-left {
    .icon('chevron-left');
  }

}

