<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app
        version="3.0"
        metadata-complete="true"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <absolute-ordering />

  <filter>
    <filter-name>ChatAuthenticationFilter</filter-name>
    <filter-class>org.exoplatform.chat.filter.ChatAuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChatAuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.exoplatform.chat.listener.MigrateServiceListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.exoplatform.chat.listener.GuiceManager</listener-class>
  </listener>
  <listener>
    <listener-class>org.exoplatform.chat.listener.ConnectionManager</listener-class>
  </listener>
  <listener>
    <listener-class>org.exoplatform.chat.listener.SchedulerManager</listener-class>
  </listener>
  <servlet>
    <servlet-name>JuzuServlet</servlet-name>
    <servlet-class>juzu.bridge.servlet.JuzuServlet</servlet-class>
    <init-param>
      <param-name>juzu.app_name</param-name>
      <param-value>org.exoplatform.chat.server</param-value>
    </init-param>
    <init-param>
      <param-name>juzu.inject</param-name>
      <param-value>guice</param-value>
    </init-param>
    <init-param>
      <param-name>juzu.resource_bundle</param-name>
      <param-value>locale.chat.server.Resource</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>AssetServlet</servlet-name>
    <servlet-class>juzu.impl.asset.AssetServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>chatCometd</servlet-name>
    <servlet-class>org.exoplatform.chat.server.CometdConfigurationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JuzuServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssetServlet</servlet-name>
    <url-pattern>/assets/*</url-pattern>
  </servlet-mapping>
</web-app>
