<div id="chatApplicationVue">
  <div class="uiLeftContainerArea">
    <div class="userDetails">
      <chat-contact type="u" :avatar="currentUser.avatar" :name="currentUser.fullName" :status="currentUser.status"></chat-contact>
    </div>
    <div class="contactFilter">
      
    </div>
    <chat-contact-list :contacts="contactList" v-on:exo-chat-contact-selected="setSelectedContact($event)" :selected="selectedContact"></chat-contact-list>
  </div>
  <div class="uiGlobalRoomsContainer">
    <div class="room-detail">
      <chat-contact v-if="selectedContact" :type="selectedContact.type" :avatar="selectedContact.avatar" :name="selectedContact.fullName" :status="selectedContact.status"></chat-contact>
    </div>
    <div class="room-content">
      <div class="uiRightContainerArea">
        <div id="chats"></div>
        <div class="chat-message">
          <textarea type="text" name="text" id="msg" autocomplete="off"></textarea>
        </div>
      </div>
      <div class="uiRoomUsersContainerArea" v-if="selectedContact.type && selectedContact.type != 'u'">
        <chat-room-participants :participants="selectedContact.participants"></chat-room-participants> 
      </div>
    </div>
  </div>
</div>